.ghostApp {
    width: 480px;
    background-color: blanchedalmond;
    padding: 1em;
}

.map-selection-block {
    display: flex;
    margin-bottom: 0.5em;
    align-items: baseline;
    justify-content: space-between;
}

.footsteps-of-otari-optionLabel {
    padding-right: 1em;
    font-weight: 700;
}

.footsteps-of-otari-radio-group {
    display: flex;
    align-items: baseline;
}

.footsteps-of-otari-radio {
    margin-left: 1em;
}

.footsteps-of-otari-ghostControls {
    display: flex;
    margin-top: 1em;
    flex-direction: row;
    justify-content: space-between;
}

.footsteps-of-otari-playControl {
    width: 64px;
}

.footsteps-of-otari-playSpeed {
    width: 32;
}

.footsteps-of-otari-time {
    display: block;
    width: 360px;
}

.footsteps-of-otari-timelineSlider {
    display: block;
    width: 100%;
}

.footsteps-of-otari-button {
    height: 24px;
}

.footsteps-of-otari-footer {
    margin-top: 1em;
    display: flex;
    width: 100%;
    justify-content: right;
}

.footsteps-of-otari-erase {
    margin-top: .5em;
}