.app.footsteps .ghostControls {
    background-color: rgb(219, 21, 21);
}

.app.footsteps .map-version {
    background-color: rgb(202, 47, 202);
}

.app.footsteps {
    background-color: rgb(124, 185, 67);
}